[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fusepy = "*"
diffprivlib = "*"
pyre2 = "*"

[dev-packages]
pipenv-setup = "*"
pytest = "*"
dlpfs = {editable = true, path = "."}
pytest-watch = "*"
notebook = "*"
pandas = "*"
flake8 = "*"
mypy = "*"
faker = "*"
pycodestyle = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
